<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
  <title>Библиотека примеров на языке ASP</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>

<body>
  <div th:fragment="header">
    <h1>Библиотека примеров на языке ASP</h1>
  </div>

  <p>Go to the next page to see fragments in action</p>
  <aside>
    <div>This is a sidebar</div>
  </aside>
  <div class="another">This is another sidebar</div>
  <footer th:fragment="footer">
    <a th:href="@{/fragments}">Fragments Index</a> |
    <a th:href="@{/markup}">Markup inclussion</a> |
    <a th:href="@{/params}">Fragment params</a> |
    <a th:href="@{/other}">Other</a>
  </footer>
</body>
</html>