<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments/header.html :: header}"></head>
<body>
<div class="container border">
  <nav th:replace="~{fragments/navbar.html :: navbar(user)}">
  </nav>
  <div class="row border h-100">
    <div class="col border p-2">
      <h5 class="text-center">Загрузка файлов</h5>
      <form method="post" enctype="multipart/form-data" th:action="@{addFile}">
        <div class="row mb-2">
          <label for="fileName" class="text-center col-sm-2 col-form-label">Имя файла</label>
          <div class="col-sm-10">
            <input class="form-control" id="fileName" name="fileName" type="text" placeholder="Задайте имя файла" required />
          </div>
        </div>
        <input class="form-control mb-2" type="file" name="file" required>
        <button class="btn btn-primary mb-2" type="submit">Добавить</button>
      </form>
      <div th:if="${errorMessage}" class="alert alert-danger">
        <span th:text="${errorMessage}"/>
      </div>
      <div th:if="${okayMessage}" class="alert alert-success">
        <span th:text="${okayMessage}"/>
      </div>
      <div>
        <h5 class="text-center">Список файлов</h5>
        <table class="table table-striped table-hover">
          <thead>
          <tr class="text-center">
            <th> Id </th>
            <th> Name </th>
            <th> Удалить </th>
            <th> Запустить </th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" th:if="${files.empty}">
            <td colspan="4"> No Files Available </td>
          </tr>
          <tr class="text-center" th:each="file : ${files}">
            <td><span th:text="${file.id}"> Id </span></td>
            <td><span th:text="${file.name}"> Name </span></td>
            <td>
              <form method="POST" th:action="@{deleteFile}">
                <input name="id" type="hidden" th:value="${file.id}" />
                <button type="submit" class="btn btn-danger btn-sm">&nbsp;Удалить&nbsp;</button>
              </form>
            </td>
            <td>
              <form method="POST" th:action="@{selectFile}">
                <input name="id" type="hidden" th:value="${file.id}" />
                <button type="submit" class="btn btn-primary btn-sm">&nbsp;Выбрать&nbsp;</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col border p-2">
      <h5 class="text-center">Содержимое файла</h5>
      <div class="row">
        <form method="POST" th:action="@{clingoRun1}">
          <input class="form-control" name="fileId" type="hidden" th:value="${fileId}" />
          <textarea class="form-control mb-2" rows="10" name="textFile" th:text="${textFile}"></textarea>
          <button type="submit" class="btn btn-primary mb-2">&nbsp;Запустить&nbsp;</button>
          <button th:if="${fileId}" type="submit" class="btn btn-primary mb-2" disabled>&nbsp;Запустить&nbsp;</button>
        </form>
      </div>
      <div class="row">
        <form class="mb-2" method="POST" th:action="@{clingoRun}">
          <textarea class="form-control" rows="10" name="resultFileText" th:text="${resultFileText}"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>