<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:insert="~{fragments/header.html :: header}"></head>
<body>
<div class="container">
  <nav th:replace="~{fragments/navbar.html :: navbar(user)}">
  </nav>
  <h4 class="text-center">Добро пожаловать в библиотеку решений на языке логического программирования ASP!</h4>
  <div class="border border-secondary rounded p-3">
    <p>Данная программа предназначена для обзора библиотеки примеров на языке ASP с возможностью изучения самого языка.</p>
    <p>Перед тем, как пользоваться данной программой и изучать примеры в библиотеке, рекомендуется ознакомиться более глубоко с синтаксисом и семантикой языка ASP с помощью следующих источников:</p>
    <p>a. Программирование наборов ответов: учебно-методическое пособие / С. А. Беляев, С. В. Родионов. – СПб.: Изд-во СПбГЭТУ «ЛЭТИ», 2020. 32 с.</p>
    <p>b. Potassco guid. URL: https://github.com/potassco/guide/releases/</p>
    <p>Кроме вышеперечисленных источников, минимальные базовые понятия языка ASP будут представлены в первом пункте методических рекомендаций под названием «Краткое введение в ASP на примере задачи».</p>
    <p>Во втором пункте будет представлен обзор библиотеки примеров и функционал веб-приложения.</p>
    <p>1. Краткое введение в ASP на примере задачи.</p>
    <p>Структура программы на языке ASP состоит из фактов, правил и исключений. Дадим описания и определения данным понятиям:</p>
    <p>a. Факт: A.</p>
    <p>b. Правило: A :- L1, …, Ln.</p>
    <p>c. Ограничение целостности: :- L1, …, Ln.</p>
    <p>Факт – всегда истинное утверждение.</p>
    <p>Правило – утверждение, зависящее от истинности других утверждений.</p>
    <p>Ограничение целостности – некоторый «фильтр», который задаёт ложные ситуации. По сути это сокращение от правила вида: false :- L1, …, Ln.</p>
    <p>Рассмотрим на примере, каким образом строится программа на ASP. Пусть у нас есть несколько людей, между которыми установлены родственные связи:</p>
    <p>person(jhon; max; jack; emma; tom; harry).</p>
    <p>parent(jhon,(tom;max)).</p>
    <p>parent(jack,(emma; harry)).</p>
    <p>Таким образом, у нас есть двое родителей – jhon и jack – у которых есть по двое детей. Теперь для удобства установим пол каждого из людей:</p>
    <p>male(jhon;max;jack;tom;harry).</p>
    <p>female(emma).</p>
    <p>Как видно, все вышеописанные факты определяют отношения между объектами, в нашем случае это родственные связи, и их свойства – пол каждого человека.</p>
    <p>Целью данной программы будет являться поиск человека, у которого есть сестра. Для этого нужно создать правило, позволяющее решить задачу:</p>
    <p>havesister(X) :- person(X),parent(Y, X),parent(Y, Z), female(Z), X != Z.</p>
    <p>Данное правило формально звучит следующим образом: сестра есть у того, кто является ребёнком родителя, у которого есть ещё один ребёнок женского пола, и имена его детей различны.</p>
    <p>Чтобы запустить эту программу в clingo, добавим строку для вывода реузльтата:</p>
    <p>#show havesister/1.</p>
    <p>Результат в clingo:</p>
    <p>Answer: 1</p>
    <p>havesister(harry)</p>
    <p>SATISFIABLE</p>
  </div>
</div>
</body>
</html>