<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
  <div>
    <form th:action="@{logout}" method="post">
      <input type="submit" value="Sign Out"/>
    </form>
  </div>
  <div>
    <form method="post" enctype="multipart/form-data" th:action="@{add}">
      <input type="text" name="text" placeholder="Введите сообщение" />
      <input type="text" name="tag" placeholder="Тэг">
      <input type="file" name="file">
      <button type="submit">Добавить</button>
    </form>
  </div>
  <div>Список сообщений</div>
  <form method="post" th:action="@{filter}">
    <input type="text" name="filter">
    <button type="submit">Найти</button>
  </form>
  <table>
    <thead>
      <tr>
        <th> Id </th>
        <th> Text </th>
        <th> Tag </th>
        <th> FileName </th>
      </tr>
    </thead>
    <tbody>
      <tr th:if="${messages.empty}">
        <td colspan="2"> No Messages Available </td>
      </tr>
      <tr th:each="message : ${messages}">
        <td><span th:text="${message.id}"> Id </span></td>
        <td><span th:text="${message.text}"> Text </span></td>
        <td><span th:text="${message.tag}"> Tag </span></td>
        <td><span th:text="${message.getFileName()}"> FileName </span></td>
      </tr>
    </tbody>
  </table>
</body>
</html>